
@{
    ViewBag.Title = "choixUtilisateur";
}

<h2>choixUtilisateur</h2>
<form action="/Guide/choixUtilisateur">
    <label for="Situation">Situation</label>
    <br />
    <input type="radio" name="option" value="professeur" id="professeur" />
    <label for="professeur">Professeur</label>
    <br />
    <input type="radio" name="option" value="participant" id="participant" />
    <label for="participant">Participant</label>
    <input type="submit" name="btnOk" value="Valider compte" class="btn btn-info btn-lg" data-toggle="modal" style="border-radius: 5px; color:white"></input>
    <button type="reset" class="btn btn-info btn-lg" data-toggle="modal" style="border-radius: 5px; color:white">Annuler compte</button>
</form>

