@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Estelle NLEND<br />
    AFPA Champs-sur-Marne<br />
    <abbr title="Phone">P:</abbr>
    3946
</address>

<address>
    <strong>Support:</strong>   <a href="e.nlend@laposte.net">mail</a><br />
</address>