@model IEnumerable<reserverProf.Model.matiere>

@{
    ViewBag.Title = "Cours";
}

<h2>Cours</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.domaine)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.domaine)
    </td>


    <td>
        @Html.ActionLink("Details", "CoursDetail") |
      
    </td>
</tr>
}

</table>
